<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Letters_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://laptop-762gbimg:7647/DynamicsNAV110/WS/CRONUS%20USA%252C%20Inc./Codeunit/Letters"
                binding="basicHttpBinding" bindingConfiguration="Letters_Binding"
                contract="ServiceReference1.Letters_Port" name="Letters_Port" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsoleApp1.Properties.Settings>
            <setting name="ConsoleApp1_WebService_workflowCustomers_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowCustomers</value>
            </setting>
            <setting name="ConsoleApp1_WebService_salesDocuments_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/salesDocuments</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Aged_Acc_Receivable_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Aged_Acc_Receivable</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateCashFlowStatement_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateCashFlowStatement</value>
            </setting>
            <setting name="ConsoleApp1_WebService_SystemService" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/SystemService</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowPurchaseDocuments_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowPurchaseDocuments</value>
            </setting>
            <setting name="ConsoleApp1_WebService_salesDocumentLines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/salesDocumentLines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Sales_Pipeline_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Sales_Pipeline</value>
            </setting>
            <setting name="ConsoleApp1_WebService_purchaseDocuments_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/purchaseDocuments</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Top_5_Opportunities_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Top_5_Opportunities</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowVendors_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowVendors</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Job_Act_v_Budg_Cost_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Job_Act_v_Budg_Cost</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateAgedAccountsReceivable_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateAgedAccountsReceivable</value>
            </setting>
            <setting name="ConsoleApp1_WebService_purchaseDocumentLines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/purchaseDocumentLines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Job_List_Service" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Job_List</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateIncomeStatement_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateIncomeStatement</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowGenJournalBatches_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowGenJournalBatches</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Letters" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/Letters</value>
            </setting>
            <setting name="ConsoleApp1_WebService_AccountantPortalFinanceCues_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/AccountantPortalFinanceCues</value>
            </setting>
            <setting name="ConsoleApp1_WebService_SalesOrder_Service" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="ConsoleApp1_WebService_powerbifinance_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Aged_Acc_Payable_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Aged_Acc_Payable</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Job_Profitability_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Job_Profitability</value>
            </setting>
            <setting name="ConsoleApp1_WebService_WorkflowActionResponse"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/WorkflowActionResponse</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateTrialBalance_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateTrialBalance</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowWebhookSubscriptions_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowWebhookSubscriptions</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowSalesDocuments_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowSalesDocuments</value>
            </setting>
            <setting name="ConsoleApp1_WebService_AccountantPortalUserTasks_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/AccountantPortalUserTasks</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Job_Act_v_Budg_Price_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Job_Act_v_Budg_Price</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowSalesDocumentLines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowSalesDocumentLines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_WorkDate_Calc_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_WorkDate_Calc</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Fields_Service" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Fields</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateRetainedEarnings_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateRetainedEarnings</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowGenJournalLines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowGenJournalLines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateAgedAccountsPayable_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateAgedAccountsPayable</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateBalanceSheet_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateBalanceSheet</value>
            </setting>
            <setting name="ConsoleApp1_WebService_miniforms_Service" serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/miniforms</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Job_Task_Lines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Job_Task_Lines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Power_BI_Aged_Inventory_Chart_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Power_BI_Aged_Inventory_Chart</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Chart_of_Accounts_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Chart_of_Accounts</value>
            </setting>
            <setting name="ConsoleApp1_WebService_Job_Planning_Lines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Job_Planning_Lines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_ExcelTemplateViewCompanyInformation_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/ExcelTemplateViewCompanyInformation</value>
            </setting>
            <setting name="ConsoleApp1_WebService_UserTaskSetComplete_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/UserTaskSetComplete</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowPurchaseDocumentLines_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowPurchaseDocumentLines</value>
            </setting>
            <setting name="ConsoleApp1_WebService_workflowItems_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowItems</value>
            </setting>
            <setting name="ConsoleApp1_WebService_AccountantPortalActivityCues_Service"
                serializeAs="String">
                <value>http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/AccountantPortalActivityCues</value>
            </setting>
        </ConsoleApp1.Properties.Settings>
    </applicationSettings>
</configuration>